<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon> menu </mat-icon>
    </button>
  </div>
  <div>
    <button mat-raised-button color="accent" routerLink="#">
      Chicago Business Intelligence
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <button mat-raised-button color="accent" routerLink="positive-covid">
        +ve cases
      </button>
      <button mat-raised-button color="accent" routerLink="negative-covid">
        -ve cases
      </button>
      <button mat-raised-button color="accent" routerLink="total-covid">
        Total cases
      </button>
      <button mat-raised-button color="accent" routerLink="building-permits">
        Building Permits
      </button>
      <button mat-raised-button color="accent" routerLink="unemployment-rates">
        Unemployment Rates
      </button>
      <button mat-raised-button color="accent" routerLink="zipcode-taxi-trips">
        Taxi Trips per Zip Code
      </button>
      <button
        mat-raised-button
        color="accent"
        routerLink="community-taxi-trips"
      >
        Taxi Trips per Community
      </button>
    </ul>
  </div>
</mat-toolbar>
